<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <audio>
    <music>
      <folder>audio/music/</folder>
      <musicVolumeModifier value="0.3" />
    </music>
    <sfx> 
      <folder>audio/fx/</folder>
      <sfxVolumeModifier value="1" />
    </sfx>
  </audio>
	
  <map>
    <folder>maps/</folder>
    <level1>
	<player_position x="320" y="450"/>
    </level1>
    <level2>
	<player_position x="250" y="320"/>
    </level2>
  </map>
  <player>
    <folder>audio/fx</folder>
    <folder>sprites/characters</folder>
    <position x="320" y="450" />	
    <speed value="6.75"/>
    <jumpImpulse value="8.5"/>
    <speed value="4"/>
    <jumpImpulse value="8.0"/>
    <gravity value="0.3"/>		
  </player>
</config>